<strong>Olá, {{ deliveryman }}</strong>
<p style="color: red; font-weight: bold;">A entrega nº: {{ id }} foi cancelada pela distribuidora, confira os detalhes:</p>
<p>
  <strong>Cliente: </strong> {{ recipient }} <br />
  <strong>Produto: </strong> {{ product }} <br />
  <strong>Motivo(s) do cancelamento: </strong> {{ problems }} <br />
  <strong>Horário do cancelamento: </strong> {{ date }} <br />
  <br />
  <strong>Dados de entrega: </strong> <br />
  <div style="font-size: 14px; display: flex; flex-direction: column;">
    <div><strong>Endereço: </strong>{{ address }}</div>
    <div><strong>Nº: </strong>{{ number }}</div>
    <div><strong>Cidade: </strong>{{ city }}</div>
    <div><strong>Estado: </strong>{{ state }}</div>
  </div>
</p>
